.grid-container {
  display: grid;
  grid-gap: 15px;
  background-color: white;
  padding: 5px;
    margin:auto 250px;
    margin-top: 100px;
}

.grid-container > div {
 
  text-align: center;
  padding: 20px ;
  }

#color {
  
    grid-area: 1 / 2 / 5/7 ;
    background-color: #fff ;
    border:1px solid #000;s
    text-align: center;
    width:600px;
    height: 331px;
    
}
.div4 {
    
    background-color: #fff ;
    border:1px solid #000;
      width:600px;
    height: 330px;
    //*margin-left: 25px;*/
}

.div1{
    background-color: blue;
    text-align: center;
    width:200px;
    height: 75px;
    
}

.div2{
    background-color: green;
    text-align: center;
  width:200px;
    height: 75px;
}
.div3{
    background-color: red;
    text-align: center;
     width:200px;
    height: 75px;
}

p{
    text-align: left;
}

